@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family:'Poppins', sans-serif;
}

.main-container{
    display: flex;
}

.sidebar-container{
    width: 40vw;
    height: 100vh;
    background-image:url(./assets/pexels-codioful-\(formerly-gradienta\)-7130469.jpg);
    background-size: cover;
    background-position:bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration{
    width:calc(40%);
}

.brand{
    position: absolute;
    top: 40px;
    left: 40px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
    color: black;
}

.quote{
    position: absolute;
    bottom: 80px;
    left: 24vh;
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.license{
    position: absolute;
    bottom: 30px;
    left: 24vh;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
}

a{
    text-decoration: none!important;
    color: black;
}

.form-container{
    width: 50vw;
    margin: 0 5vw;
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.header-section{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.form-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 90px;
}

.form-row{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1rem;
    font-weight: 500;
}

input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8F8F8F;
    font-size: 1.8rem;
}

button{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 12px 48px;
    color: white;
    background: rgb(7,224,250);
    background: linear-gradient(90deg, rgba(7,224,250,1) 0%, rgba(237,118,219,1) 97%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.message-section{
    margin-top: 30px;
}

.login{
    padding-left: 5px;
    color: rgba(46, 167, 242, 1);
}

.validation-message{
    font-size: 1rem;
    color:red;
}

input:focus{
    outline: none;
    border: 2px solid #2EA7F2 ;
}

input:focus:invalid{
    border: 2px solid red;
}

button:active{
    background-color: #2A96D9;
}