@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family:'Poppins', sans-serif;
}

.main-container{
    display: flex;
}

.sidebar-container{
    width: 40vw;
    height: 100vh;
    background-color: #F1F1F1;
}

.brand{
    position: absolute;
    top: 40px;
    left: 40px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
    color: white;
}

.quote{
    position: absolute;
    bottom: 80px;
    left: 12vh;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.license{
    position: absolute;
    bottom: 30px;
    left: 17vh;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.form-container{
    width: 50vw;
    margin: 0 5vw;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}

.header-section{
    font-size: 3.5rem;
    font-weight: 700;
}

.form-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.form-row{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1rem;
    font-weight: 500;
}

input{
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #8F8F8F;
}

button{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 12px 48px;
    color: white;
    background: #2EA7F2;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.message-section{
}

.login{
    padding-left: 5px;
    color: rgba(46, 167, 242, 1);
}

.validation-message{
    font-size: 1rem;
    color:red;
}

input:focus{
    outline: none;
    border: 2px solid #2EA7F2 ;
}

input:focus:invalid{
    border: 2px solid red;
}

button:active{
    background-color: #2A96D9;
}